
:root {

    --paragraf-color: #757575;
    --header-color: #212121;
    --text-accent-color: #2196F3;
    --background-color: #ffffff;
}

body {
background-color: var (--background-color);
color: var(--paragraf-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;


}

/* прибирання маркерів */
ul {
list-style: none;
}

/*фоновий колір Наші Цінності - #F5F5F5*/
/*фоновий колір для Наша Команда - #F5F4FA*/
/*білий колір #FFFFFF*/
/* основний колір тексту сірий - #757575 */
/* другорядний колір тексту чорний- заголовки - #212121 */
/*колір акценту текста синій #2196F3  */
/*додатковий чорний на лого - #000000 */
/*фоновий колір героя та футера- #2F303A*/
/* колір телефону та пошти в футері - rgba(255, 255, 255, 0.6)*/

/* стилі хедера */

.logo {
    text-decoration: none;
    list-style-type: none;
}

.logo-web { 
color: var(--text-accent-color);

font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}

.logo-studioheader { 
color: #000000;

font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;

}

.logo-studiofooter {
color: var(--background-color);

font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;

}

.site-nav a {
    color: var(--header-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
}
.site-nav a:hover, .site-nav a:focus {
    color: var(--text-accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
} 

.contact-list a {
    color: var(--paragraf-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
}

.contact-list a:hover, .contact-list a:focus {
    color: var(--text-accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

    /* стилі головної сторінки */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--background-color);
  
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}


.hero-button {
    background-color: var(--text-accent-color);
    color: var(--background-color);

    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        cursor: pointer
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--text-accent-color);
    color: var(--background-color);

        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    color: var(--header-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


.title-name {
    color: var(--header-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.values p {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.team {
   background-color: #F5F4FA; 
   
}
.team-members {
    background-color: var(--background-color);
    color: var(--header-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-members p {
    font-weight: 400;
    color: var(--paragraf-color);
}
/* стилі сторінки Портфоліо */

.portfolio-button {

    background-color: #F5F4FA;
    color: var(--header-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.portfolio-button:hover, .portfolio-button:focus {

    background-color: var(--text-accent-color);
    color: var(--background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.photo-background {
    background-color: #EEEEEE;
}

.projects h3 {
    color: var(--header-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects p {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* стилі футера */

footer {
    background-color: #2F303A;
}


.address-list a {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    list-style-type: none;
    }

.adress-list a:focus,
.address-list a:hover {

    color: var(--text-accent-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.googlemap {
    color: var(--background-color);
}

.email, .phone {color: rgba(255, 255, 255, 0.6) }


