body {
background-color:#F5F5F5;
color:  #757575 
}

/* прибирання маркерів */
ul {
list-style: none;
}

/*фоновий колір Наші Цінності - #F5F5F5*/
/*фоновий колір для Наша Команда - #F5F4FA*/
/*білий колір #FFFFFF*/
/* основний колір тексту сірий - #757575 */
/* другорядний колір тексту чорний- заголовки - #212121 */
/*колір акценту текста синій #2196F3  */
/*додатковий чорний на лого - #000000 */
/*фоновий колір героя та футера- #2F303A*/
/* колір телефону та пошти в футері - rgba(255, 255, 255, 0.6)*/

/* стилі хедера */
.logo-web { color: #2196F3}

.logo-studioheader { color: #000000}

.logo-studiofooter {color: #ffffff}

.site-nav a {
    color: #212121
}
.site-nav a:hover, .site-nav a:focus {
    color: #2196F3} 

.contact-list a {
    color: #757575
}

.contact-list a:hover, .contact-list a:focus {
    color:#2196F3}

    /* стилі головного змісу - мейна */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff 
}


.hero-button {
    background-color: #2196F3;
    color: #ffffff
}

.hero-button:hover, .hero-button:focus {
    background-color: #2196F3;
        color: #ffffff
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    color:#212121
}
.title-name {
    color: #212121
}

.team {
   background-color: #F5F4FA; 
}
.team-members {
    background-color: #FFFFFF;
}

/* стилі футера */

footer {
    background-color: #2F303A;
}

.address {color:#ffffff}

.adress-list a:focus, .address-list a:hover{
    color: #2196F3;
}


.email, .phone {color: rgba(255, 255, 255, 0.6) }
